@charset "UTF-8";

/* Este é um comentário em CSS */

*{
    padding: 8px;
    margin: 8px;

}


html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

menu{
    display: none;
}

article{
    width: 100%;
}

article::after{
    content: 'Essa artigo foi impresso através do site joaovdf.o-rei-de-tudo-e-todos ';
}
